@font-face {
  font-family: 'Linearicons-Free';
  src: url("../fonts/Linearicons-Free/Linearicons-Free.woff2") format('woff2'),
       url("../fonts/Linearicons-Free/Linearicons-Free.woff") format('woff'),
       url("../fonts/Linearicons-Free/Linearicons-Free.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Medium/Quicksand.woff2") format('woff2'),
       url("../fonts/Quicksand-Medium/Quicksand.woff") format('woff'),
       url("../fonts/Quicksand-Medium/Quicksand.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Regular/Quicksand.woff2") format('woff2'),
       url("../fonts/Quicksand-Regular/Quicksand.woff") format('woff'),
       url("../fonts/Quicksand-Regular/Quicksand.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
