html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: 1px solid transparent;
  outline: transparent;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.btn {
  color: #fff;
  padding: 18px 30px;
  border-radius: 27px;

  &--white {
    background-color: #fff;
  }

  &--blue {
    background-color: $blue;
  }

  &--grey {
    background-color: #f1f3f6;
  }
}

.btn:hover {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.btn:focus {
  border: 1px solid rgba(0, 169, 255, 0.4);
}

.btn:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
}


.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.block {
  display: block;
}

.none {
  display: none;
}

.color-purple {
  color: $purple;
}

.color-blue {
  color: $blue;
}

.color-white {
  color: #fff;
}

