.block-head{
  max-width: 1140px;
  width: 100%;
  min-height: 110px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(107,110,115,0.1);
  border-radius: 4px;

  &__title{
    font-size: 30px;
    font-weight: 500;
    padding-left: 29px;
  }

  &__wrap {
    margin-right: 30px;
  }

}
