.footer {
  font-size: 15px;
  color: #ababab;

  &__logo {
  	margin-left: 0;
  }


  &__contacts {
    font-style: normal;
  }

  &__text {
    max-width: 300px;
    width: 100%;
    line-height: 28px
  }

  &__contact {
    padding-top: 10px;
  	margin-left: 30px;
  }

  &__phone,
  &__email,
  &__address {
  	position: relative;
    color: #ababab;
  }


  &__phone::before,
  &__email::before,
  &__address::before {
    content: "";
    width: 18px;
    height: 17px;
    background-image: url('../images/icons/phone.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: -30px;

  }


  &__email {
    margin-top: 12px;
    &::before {
      width: 17px;
      height: 11px;
      background-image: url('../images/icons/envelope.png');
      top: 4px;
    }
  }

  &__address {
    max-width: 220px;
    width: 100%;
    line-height: 26px;

    &::before {
      width: 10px;
      height: 17px;
      background-image: url('../images/icons/map_marker.png');
      top: 15px;
      left: -25px;
    }

  }

  &__company {
  		margin-left: 40px;
  }

  &__support {
  	margin-left: 125px;
  }

  &__news {
  	margin-left: 63px;
  }

  &__descr {
  	max-width: 344px;
  	width: 100%;
  	line-height: 28px;
  	margin-bottom: 20px;
    padding-top: 15px;
  }

  &__title {
  	display: block;
    font-size: 18px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__list,
  &__social {
  	@include indents;
  	@include list-style;
  }

  &__list {
    padding-top: 10px;
  }

    &__link {
    font-size: 15px;
    line-height: 32px;
    color: #ababab;
  }

  &__form {
  	position: relative;

  }

  &__email{
  	width: 100%;
  	margin-left: 0;
  	
  }

  &__btn {
  	margin-left: 0;
  	padding: 15px 30px;
  	position: absolute;
  	right: -20px;
  	top: 10px;
  }

  &__copyright {
  	
		color: #999999;
  }

}

.top-footer {
	background-color: #262b30;

	&__inner {
		padding-top: 115px;
		padding-bottom: 105px;
	}
}

.bottom-footer {
	background-color: #192027;

	&__inner {
		min-height: 94px;
		text-align: center;
		justify-content: center;
	}
}

.social {
	margin-top: 48px;
	margin-right: 20px;

		&:hover {
			opacity: 0.6;
		}
	}
}