.header-top {
  background-color: $grey;

  &__inner {
    min-height: 100px;
  }

  &__logo {
    width: 200px;
    height: 50px;
    margin-left: 7px;
  }

  &__btn {
    font-size: 14px;
    background-color: $blue;
    border-radius: 18px;
    padding: 10px 17px;
    color: #fff;
    margin-left: auto;
    margin-right: 50px;
    transition: all 0.5s;
  }
}

.icon {
  margin-right: 46px;
  cursor: pointer;

  &__alarm {
    margin-right: 30px;
    position: relative;
  }

  &__envelope {
    margin-right: 32px;
  }

  &__list {
    display: none;
  }

  &__img {
    width: 40px;
    height: 40px;
  }

  &__num {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 11px;
    padding: 4px 7px;
    top: -16px;
    left: 15px;

    &--red {
      background-color: #ff6a6c;
      left: 8px;
    }

    &--green {
      background-color: #62d03b;
    }

    &--blue {
      background-color: $blue;
    }
  }
}

.account {
  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__name {
    font-weight: 700;
    margin-left: 22px;
    cursor: pointer;
  }

  &__price {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    color: $blue;
  }

  &__list {
    display: none;
  }
}

.header-bot {
  &__inner {
    min-height: 80px;
  }

  &__form {
    max-width: 360px;
    width: 100%;
  }

  &__search {
    outline: transparent;
    width: 100%;
    padding: 13px 80px 13px 25px;
    border: 1px solid #d9dfe5;
    border-radius: 23px;
  }

  &__btn {
    cursor: pointer;
    outline: transparent;
    padding: 14px 27px;
    background-color: $blue;
    border-radius: 23px;
    right: 0;
    transition: all 0.3s;
  }
}

.menu {
  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }

  }

  &__link {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    transition: all 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.drop-down {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
