.product-card {
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(107,110,115,0.1);
  max-width: 361px;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  margin-bottom: 25px;


  &:hover &__hover {
    overflow: visible;
    height: 230px;
  }

  &__hover {
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 361px;
    height: 0;
    width: 100%;
    text-align: center;
    border-radius: 4px 4px 0 0;
    background-color: #009688;
    background-image: linear-gradient(-90.0deg, #0674ec 0%, #7347c1 100%);
    transition: all 1s;
  }

  &__btn {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #f4f4f4;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.15);
    padding: 13px 25px;
    border-radius: 22px;
    transition: all 0.5s;



    &:focus {
      outline: transparent;
      border: 1px solid rgba(0, 169, 255, 0.4);
    }

    &:hover {
      background-color: #ffffff;
      color: $blue;
    }

    &:active {
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
    }
  }

  &__info {
    padding: 13px 30px;
  }

  &__demo {
    margin-left: 12px;
    color: $blue;

    &:hover {
      color: white;
      background-color: transparent;
    }
  }

  &__img {
    max-width: 361px;
    width: 100%;
    height: 230px;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
  }


  &__head {
    font-size: 24px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 8px;
    margin-top: 15px;
    color: #000000;
    padding-bottom: 15px;
  }

  &__head,
  &__develop,
  &__text {
    padding-left: 30px;
    padding-right: 39px;
  }

  &__name {
    vertical-align: middle;
    border-radius: 50%;
    width: 28px;
    height: 28px;
  }

  &__photo {
    width: 28px;
    height: 28px;
    object-fit: cover;
    vertical-align: middle;
  }

  &__theme {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 12px;

    &--mid {
      width: 15px;
      height: 17px;
    }

    &--sm {
      width: 13px;
      height: 17px;
    }
  }

  &__link {
    padding-left: 5px;
    font-size: 15px;
    color: #000;
    position: relative;
  }

  &__text {
    height: 95px;
    line-height: 30px;
    color: #555555;
    margin-top: 25px;
    padding-left: 30px;
    margin-bottom: 27px;
  }

  &__details {
    font-size: 15px;
    border-top: 1px solid #ececec;
    color: #6f7d8d;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 28px;
  }

  &__price {
    padding: 8px 20px;
    background-color: #e6f1fd;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 700;
  }

  &__like {
    background-color: transparent;
    color: $purple;
  }

  &__cart {
    background-color: transparent;
    font-size: 15px;
    color: $blue;
    margin-right: 23px;
  }

  &__star {
    display: inline-block;
  }

  &__count {
    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: 400;
  }
}
