.benefits {
  &__inner {
    margin-top: 186px;
    margin-bottom: 100px;
  }

  &__item {
    max-width: 361px;
    width: 100%;
    text-align: center;
    padding: 41px 35px 49px;
    line-height: 28px;
    color: #555555;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 2px 50px 0 rgba(0,0,0,0.07);
      border-radius: 4px;
    }
  }

  &__head {
    font-size: 24px;
    font-weight: 500;
  }
}
