.new-product {
  background-color: $light-grey;

  &__inner {
    padding-top: 120px;
    padding-bottom: 96px;
  }

  &__columns {
    flex-wrap: wrap;
  }

  &__option {
    min-height: 92px;
    margin-top: 30px;
    padding-left: 21px;
    margin-bottom: 51px;
  }

  &__btn {
    font-size: 15px;
    color: #747b86;
    margin-left: 12px;
    padding: 7px 17px;
    border-radius: 16px;
    transition: all 0.5s;

    &:hover {
      background-color: $blue;
      color: #fff;
    }

    &:focus {
      background-color: $blue;
      color: #fff;
      border: 1px solid rgba(0, 169, 255, 0.4);
    }
  }

  &__all {
    margin: 23px auto;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
    transition: all 0.3s;
  }
}
